In [ ]:
#1.	Create a list of 5 integers. Perform and print the result of the following operations: append, extend, insert, remove, pop, clear, index, count, sort, and reverse.

numbers = [10, 20, 30, 40, 50]
print("Original list:", numbers)

# append
numbers.append(60)
print("After append(60):", numbers)

# extend
numbers.extend([70, 80])
print("After extend([70, 80]):", numbers)

# insert
numbers.insert(2, 25)  # inserts 25 at index 2
print("After insert(2, 25):", numbers)

# remove
numbers.remove(40)
print("After remove(40):", numbers)

# pop
popped_element = numbers.pop()
print("After pop():", numbers)
print("Popped element:", popped_element)

# index
index_of_30 = numbers.index(30)
print("Index of 30:", index_of_30)

# count
count_of_20 = numbers.count(20)
print("Count of 20:", count_of_20)

# sort
numbers.sort()
print("After sort():", numbers)

# reverse
numbers.reverse()
print("After reverse():", numbers)

# clear (at the very end)
numbers.clear()
print("After clear():", numbers)

In [ ]:
#2.	Create a tuple that stores 3 student names. Try changing the second name in the tuple. What happens? Explain why.
students = ("Sagar", "Rohit", "Santosh")
print("Original tuple:", students)
students[1] = "Amit"
# In python tuple is immutable , Which means you cannot Change its elements  once Created.

In [ ]:
# 3.	Create a set of integers with some duplicate values. Print the set and explain the output.
numbers = {12, 15, 18, 12, 15, 18, 25,25}
print("Set:", numbers)
# A set in Python is a collection of unique, unordered elements When you create a set with duplicate values, Python automatically removes the duplicates and keeps only one copy of each element.

In [ ]:
# 4.	Create a dictionary with the keys: 'name', 'age', and 'city'. Update the age and add a new key 'email'. Print the final dictionary.

student = {
    "name": "Sagar",
    "age": 23,
    "city": "Hubli"
}
print("Original dictionary:", student)


student["age"] = 24


student["email"] = "Sagar@123.com"


print("Final dictionary:", student)

In [ ]:
# 5. Write a script that checks if a person is eligible to vote (age ≥ 18). Take age as a variable and print the appropriate message.

age = int(input("Enter your age: "))


if age >= 18:
    print("You are eligible to vote ✅")
else:
    print("You are not eligible to vote ❌")

In [ ]:
#6.	Given a 'marks' variable, print the grade:
#- 90 and above: 'A'
#- 75–89: 'B'
#- 50–74: 'C'
#- Below 50: 'Fail'

marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 50:
    print("Grade: C")
else:
    print("Grade: Fail")

In [ ]:
# 7.	Given a number, check if it's positive, and if it is also even. If not positive, print if it's zero or negative.

num = int(input("Enter a number: "))


if num > 0:
    print("The number is positive ")
    if num % 2 == 0:
        print("It is also even ")
    else:
        print("It is odd ")
elif num == 0:
    print("The number is zero")
else:
    print("The number is negative ")

In [ ]:
# 8.	Create:
#- A scalar using np.array(5)
#- A 1D array with values 1 to 5
#- A 2D array (2x3) with values from 10 to 60 in steps of 10

import numpy as np
# Scalar
scalar = np.array(5)
print("Scalar:", scalar)
print("Shape:", scalar.shape)
print()
# 1D array
array_1d = np.array([1, 2, 3, 4, 5])
print("1D Array:", array_1d)
print("Shape:", array_1d.shape)
print()
# 2d array
array_2d = np.array([[10, 20, 30],
                     [40, 50, 60]])
print("2D Array:\n", array_2d)
print("Shape:", array_2d.shape)

In [ ]:
# 9.	Generate a 4x4 Numpy array of random integers between 0 and 100 using np.random.randint().
import numpy as np


random_array = np.random.randint(0, 100, size=(4, 4))

print("4x4 Random Integer Array:\n", random_array)

In [ ]:
# 10.	Create a 2D numpy array of shape (3x3). Convert it into a pandas DataFrame and add column names: 'A', 'B', 'C'.
import numpy as np
import pandas as pd

array_2d = np.array([[10, 20, 30],
                     [40, 50, 60],
                     [70, 80, 90]])
print("NumPy Array:\n", array_2d)
print()


df = pd.DataFrame(array_2d, columns=['A', 'B', 'C'])


print("Pandas DataFrame:\n", df)

In [ ]:
# 11.	Create a small DataFrame manually with 10 rows and columns: 'Name', 'Age', 'City', and 'Salary'. Then:
#- Use .info(), .describe()
#- Select 'Name' and 'City' columns
#- Drop 'City' column
#- Fill any missing values in 'Salary' column with the mean
#- Remove any duplicate rows

import pandas as pd
import numpy as np

data = {
    'Name': ['Sagar', 'Rohit', 'Santosh', 'Mahesh', 'Preeti', 'Geeta', 'Roopa', 'Vikas', 'Rohit', 'Pooja'],
    'Age': [25, 28, 30, 22, 27, 28, 24, 26, 28, 23],
    'City': ['Bangalore', 'Delhi', 'Pune', 'Delhi', 'Bangalore', 'Delhi', 'Pune', 'Mumbai', 'Delhi', 'Bangalore'],
    'Salary': [50000, 60000, 70000, np.nan, 55000, 60000, 45000, 52000, 60000, np.nan]
}

df = pd.DataFrame(data)

print("Original DataFrame:\n", df, "\n")

print("Info about DataFrame:")
print(df.info(), "\n")

print("Statistical Summary (.describe()):")
print(df.describe(), "\n")

print("Selected Columns (Name & City):")
print(df[['Name', 'City']], "\n")

df_dropped = df.drop(columns=['City'])
print("After dropping 'City' column:\n", df_dropped, "\n")

mean_salary = df['Salary'].mean()
df['Salary'] = df['Salary'].fillna(mean_salary)
print("After filling missing Salary values:\n", df, "\n")

df_no_duplicates = df.drop_duplicates().reset_index(drop=True)
print("After removing duplicate rows:\n", df_no_duplicates)